  <input
    style="padding: 0.5em 1em;margin-left: 1rem;"
    type="text"
    placeholder="搜尋卡片..."
    [value]="searchTerm"
    (input)="onSearchTermChange($event)"
    class="search-input"
  />

<div *ngIf="flashcards && flashcards.length > 0; else noCards">
  <table class="rwd-table">
    <thead> <!-- 建議加上 thead 和 tbody 標籤，更語義化 -->
      <tr>
        <th>題目</th>
        <th>答案</th>
        <th>類別</th>
        <th>上次回答</th>
        <th>次數</th>
        <th>分數</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of filterFlashcards">
        <td data-label="題目">{{ card.question }}</td>
        <td data-label="答案">{{ card.answer }}</td>
        <td data-label="類別">{{ card.category || '未分類' }}</td>
        <td data-label="上次回答">{{ card.lastAnsweredTime ? (card.lastAnsweredTime | date:'yyyy/MM/dd HH:mm') : '未回答' }}
        </td>
        <td data-label="次數">{{ card.answerCount }}</td>
        <td data-label="分數">{{ card.score }}</td>
        <td data-label="操作">
          <button (click)="onEdit(card)">編輯</button>
          <button (click)="onDelete(card.id)">刪除</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noCards>
  <p>目前沒有單字卡。</p>
</ng-template>
