<header class="container-fluid">
  <nav class="nav">
    <div><h1>brand</h1></div>
    <ul class="rightSide">
      <li><a href="#">Home</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">about</a></li>
    </ul>
  </nav>
  <div class="container-fluid heroImage">
    <div class="heroText">
      <h1>General Articles</h1>
      <p>Find all the general articles here</p>
    </div>
  </div>
</header>

<main class="articleList container">
  <h3>Focus</h3>
  <div class="focus">
    <section class="leftSide">
      <article class="vertical-card">
          <img src="https://loremflickr.com/320/240" class="vertical-card-img"/>
          <span>Kai98◇2024-12-13</span>
          <h3>這是第一篇文章，讀一下好嗎</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elie magnam facilis in. Fuga sequi commodi neque vel! Iusto voluptatum odio hic aperiam doloribus blanditiis.</p>
        <a href="#" class="category-btn"><span>category</span></a>
      </article>
    </section>
    <ul class="rightSide">
      <li><article class="horizontal-card">
        <img src="https://loremflickr.com/320/240" class="horizontal-card-img"/>
        <div class="horizontal-card-text"><span>Kai98◇2024-12-13</span>
        <h3>Article Title</h3>
      <p>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</p>
      <a href="#" class="category-btn"><span>category</span></a></div>

    </article></li>
    <li><article class="horizontal-card">
      <img src="https://loremflickr.com/320/240" class="horizontal-card-img"/>
      <div class="horizontal-card-text"><span>Kai98◇2024-12-13</span>
      <h3>Article Title</h3>
    <p>文字描述文字描述文字描述文字描述文字描述文字</p>
    <a href="#" class="category-btn"><span>category</span></a></div>

  </article></li> <li><article class="horizontal-card">
    <img src="https://loremflickr.com/320/240" class="horizontal-card-img"/>
    <div class="horizontal-card-text"><span>Kai98◇2024-12-13</span>
    <h3>Article Title</h3>
  <p>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</p>
  <a href="#" class="category-btn"><span>category</span></a></div>

</article></li>
    </ul>
  </div>
</main>
<footer></footer>
