<!-- <header class="container-fluid">
  <nav class="nav">
    <div><h1>brand</h1></div>
    <ul class="rightSide">
      <li><a href="#">Home</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">about</a></li>
    </ul>
  </nav>
  <div class="container-fluid heroImage">
    <div class="heroText">
      <h1>General Articles</h1>
      <p>Find all the general articles here</p>
    </div>
  </div>
</header> -->

<!-- 📌 Navbar -->
<app-general-navbar></app-general-navbar>

<!-- 📌 Hero Section -->
<!-- <app-general-hero-section></app-general-hero-section> -->
<!-- <section class="container">
  <h2 class="py-2 mt-4">FOCUS</h2>
  <div class="blog-layout">
      // 左側大文章 //
      <div class="main-article">
          <img src="https://loremflickr.com/320/240" alt="訪談">
          <div class="main-content">
              <div class="blog-meta">Olivia Rhye • 20 Jan 2024</div>
              <div class="blog-title">Conversations with London Makr & Co.</div>
              <div class="blog-desc">We sat down with London’s fast-growing brand and product design studio...</div>
              <div class="blog-tags">
                  <span class="tag">Design</span>
                  <span class="tag">Research</span>
                  <span class="tag">Interviews</span>
              </div>
          </div>
      </div>

// 右側小文章
      <div class="side-articles">
          <div class="side-article">
              <div class="side-content">
                  <div class="blog-meta">Phoenix Baker • 19 Jan 2024</div>
                  <div class="blog-title">A Relentless Pursuit of Perfection in Product Design</div>
                  <div class="blog-tags">
                      <span class="tag">Design</span>
                      <span class="tag">Research</span>
                  </div>
              </div>
          </div>

          <div class="side-article">
              <div class="side-content">
                  <div class="blog-meta">Lana Steiner • 18 Jan 2024</div>
                  <div class="blog-title">How to Run a Successful Business With Your Partner</div>
                  <div class="blog-tags">
                      <span class="tag">Business</span>
                      <span class="tag">Research</span>
                  </div>
              </div>
          </div>

          <div class="side-article">
              <div class="side-content">
                  <div class="blog-meta">Lana Steiner • 18 Jan 2024</div>
                  <div class="blog-title">Why Food Matters — Disease Prevention & Treatment</div>
                  <div class="blog-tags">
                      <span class="tag">Health</span>
                      <span class="tag">Research</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

-->

<main class="container">
  <h2 class="py-2">ALL BLOG POSTS</h2>
  <div class="masonry-grid">
    <div class="masonry-item" *ngFor="let articleData of rawArticlesInfo">
      <app-general-article-card
        [articleCardData]="articleData">
      </app-general-article-card>
    </div>
  </div>
  <!-- <div class="blog-list">
      <article class="blog-card" *ngFor="let article of rawArticlesInfo"  [routerLink]="article?.route">
          <img src="assets/No_image.jpg" alt="攝影">
          <div class="blog-content">
              <div class="blog-meta">{{article?.markdownData?.meta?.author}} • {{article?.markdownData?.meta?.date}}</div>
              <div class="blog-title">{{article?.markdownData?.meta?.title}}</div>
              <div class="blog-desc" [innerHTML]="article?.markdownData?.content | articleSummary:200"></div>
              <div class="blog-tags">
                  <span class="tag" *ngFor="let tag of article?.markdownData?.meta?.tags">{{tag}}</span>
              </div>
          </div>
        </article>
      </div> -->

</main>
<footer></footer>
