.japandi-hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%),
    url("https://lh3.googleusercontent.com/aida-public/AB6AXuCoVRsZzA4hlxPEpAnGRs13jgfMttdFcZU8dxCE2gzdHj_Qwf-kqmQzZouY73OlFaZoW4FepaH2GKexy97vICbRC865bV1DuLbvT5gwpKeGoUgRC_PCO7Vl4wYlb3edTizjwrAU-OfXr-lV4z3ziVlI0xM_LZTA88M0pGX4nMLuoCingRD1urPBAJGyMJ3VkutYzm6p3o2VxZGyM7YA8xTVUOkKz9r713kEdnzQzY0aoIR1KlH0fYwVF9gCMRVFasxyZn-7LgY_ar_0");
}
.japandi-article-1-bg {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBwzo_Gi9_HcULD6OVZxYP9lOLyd6wyQEQorihPc9JcK_Lcd2PPLu8MkUX-Hj_t5aQRcrkUcSISy6tE3CuplCeXfJhPsmmb1WvcxCl4cD8ekdqmQ9hkHY39kO2P5x4ZLoo-fAuRHEHejpOZzGsLTt0qvN07BXPZtSwddIlxEBMILuMAjA_XGh3PBppvFNTg02s3H5_Xn-RmA8R83Uw1RSzEnRTM5BZvXpztQTjMrGZgLbfp9feyNZoQ5b4Rl5_j7cVpUijK5rQm2mSc");
}
.japandi-article-2-bg {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBZoR0YYaE1fA6rAsaY8nCnhVPpHJI_h2mLC-PmbU8siBsD7W3XHC4YgmalFm-BccZGXhQnXxBgHI1izHXRQs0vhGfxPMhxTBO_q3KRmDTEas01UXEC6k_hvMkj1QNrkt-3s9MgLKRNkxCMqjTJ8G9V0cNUEo89r4_SOLQ4rNU1xoH99iuxHMKMfKgeQ5NWgxoAikYbcmtgDsvJANz18ErKyM0L0GuU9C-DvscyjfjMvk3XpNd6HRJoaSL82M-AfNUiqalNfAYza6Dq");
}
.japandi-portfolio-1-bg {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDNgjxgxgLUd_F4_H44D-vtlmexbuJUDahtL_G2xZhE55YeRIDXjXxBWAcOIGgNVYym8zITfwXIVCFj2DSDKOBpF_ojCDzdTWTeFySAb2JEWTWy-N9r_uLlyAUBm5QyFRovExZoYxo-gH_jKMEsfgau6egdfftY2XAgA3R2mmp6n0EAikl8CvDkdxPkwuKEXBnePrMPIfnHL121l19kjIfzeFzOwejK2sR5D-vjS3wQZnJBtmeuVPp-MylGrXt6cuT7mfGQeqhsUBk7");
}
.japandi-portfolio-2-bg {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBb7thmftBj6_l2EprbMOEg4P_yzVB_VuPgV-ESeK9E4tdZdRJawToov71VQaVuG3RijHaDPmDxuEnq_rmSx3dTqRD2q6iL5ShQDfk7U7gdT6mk6xdW_itDw05mq2LF-KHzM3AZ4KD2w9h-nwA1gjPd3B_RARjyvFIxC447_QrpaJFXwcAzOQs16r1QLrqDQXxD3rIYC_xbHVkuiTKYtD7xUAUw1_Tmiot-Fy7rAqA3o7EUP_tcL-wKzdfpesZ-OWesHaPpxh7iq4qW");
}
.japandi-portfolio-3-bg {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA-iptDq60cXIqDuCwZlzUNJi_GD8fxLC4KbgYr_NYKQQ2U01214s_n-RFMWpMLfZZH8a8vawYWIIArnW5bf7yA53kaiPUfy899KxK5yqG-gHYdPw5D1FXxFsYscQA4YMy7JJK1koJTkZ_t0CklU_TyVuwW2MIZFZNXlW7WvYMwknHIi2BOtMaYa2yV39cIWGG-K-MsyUAuBzmY1eoCpaV5h12Srm4R2vFi1gRbomeivu7ZQTxo0sZO5_s3sIX9PNXqZGtXxC5V5NOc");
}
