name: Deploy to GitHub Pages

on:
  push:
    branches:
      - prod # Trigger on push to prod branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build:ssg-site

      - name: Deploy to External Repository
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }} # You need to set this secret
          external_repository: UrWebApp/UrWebApp.github.io # CHANGE THIS to your target repo
          publish_branch: main # Branch to deploy to (usually main or gh-pages)
          publish_dir: ./dist/ssg-site/browser
